* {
	padding: 0;
	margin: 0
}



nav {
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;

}


#resp-navbar {
	display: none;
}

.logo {
	width: 20%;
	display: flex;
	justify-content:center;


}

.logo img {
	width: 100px;


}

.logo a {
	font-size: 1.2em;
	color: white;
	text-decoration:none;
	font-family: Arial Black;
	position: relative;
	top: 10px;
}



.nav-links {
	width: 70%;
	display: inline-flex;
	justify-content: space-around;
	text-decoration: none;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
}

.nav-links a {
	color:  white;
	text-decoration: none;
}

.search-icn {
	margin-right: 10px;
}





.owl-carousel img {
   height: 100vh;
     filter: brightness(50%);
}



.img-cont  {
   
   position: absolute;
   z-index: 3;
   top: 50%;
   margin-left: 10%;
   height: 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;



}

.img-cont h2 , p {
   font-family: Lucida Console;
   color: white;
   font-weight: bold;
}

.img-cont span {
	color: white;
	font-size: 1.2em;
}

.img-cont h2 {
	font-size: 2.5em;
}


.img-cont p{
	font-size: 1.3em;
}


.img-cont button {
	border: none;
	background-color: white;
	color: black;
	border-radius: 30px;
	outline: none;
	font-size: 1em;
	padding: 10px;
	font-weight: bold;
	transition: background-color 1s;
}


.img-cont button:hover {
	background-color: silver;
}


@media only screen and (max-width: 1100px) {
	#resp-navbar {
		display: block;
		height: 80px;
		display: flex;
		align-items: center;
	}


	.nav-container {
		display: none;
	}
}


@media only screen and (max-width: 915px) {
	.logo {
           width: 40%;
	}
} 




@media only screen and (max-width: 416px) {
	.logo {
           width: 50%;
	}
} 
